/* global */
body {
    width: 1600px;
    height: auto;
    background: #FFF;
}

/* banner */
.banner {
    margin: 80px 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.banner h3 {
    padding: 180px 0px 10px 0px;
    margin: 0px;
    color: #FFF;
    text-align: center;
    font-family:  'Merriweather';
    font-size: 32px;
    font-weight: 400;

}

.banner h1 {
    padding: 10px 0px 0px 0px;
    margin: 0px;
    color: #FFF;
    text-align: center;
    font-family:  'Merriweather';
    font-size: 72px;
    font-weight: 900;
}

/* 65% off */
.off {
    margin: 100px 140px;
}

.off-container {
    text-align: center;
    margin: 35px;
}

.offer {
    margin: 0px;
    color: #F00;
    font-family: 'inter';
    font-size: 88px;
    font-weight: 700;

}

.deal {
    margin: 50px 0px 12px 0px;
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.category {
    margin: 0;
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
}

/* welcome */
.welcome {
    margin: 100px 140px;
    display: flex;
    width: 1320px;  
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
}

.welcome-content {
    padding: 130px 30px 20px 120px;
    width: 770px;
}

.welcome-title {
    margin: 0;
    color: #FFF;
    font-family:  'Merriweather';
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.welcome-desc {
    margin: 40px 0px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.welcome-content button {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    border-style: none;
}

.welcome img {
    height: 440px;
    padding: 90px 0px;
}

/* place */

.Places {
    margin: 100px 140px;
    width: 1120px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px;
}

.place-title {
    margin: 24px;
    color: #070211;
    font-family: 'Inter';
    font-size: 42px;
    font-weight: 600;

}

.Places .pt {
    color: #F00;
}

.Places input {
    margin-top: 30px;
    padding: 20px 40px;
    border-style: none;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 700;

}

/* coming soon */

.coming {
    margin: 100px 140px;
    width: 1320px;
    height: 482px;
    display: flex;
    
}

.coming-content {
    width: 33%;
    height: auto;
}

.coming-content .round-img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    padding: 20px;
    border: 15px solid #F00;
}

.coming-mini-title {
    padding: 60px 0 18px 0;
    margin: 0;
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coming-title {
    margin: 0 0 18px 0;
    padding: 0;
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.coming-desc {
    padding: 0 60px 0 0;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


.coming-title2024 {
    padding: 80px 0 0 120px;
    margin: 0;
    color: #F00;
    font-family: 'Inter';
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coming-desc2 {
    padding: 30px 0 0px 120px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-content .happy-new-year-img {
    padding: 0px 0 30px 120px;
}

/* holyday */

.holyday {
    margin: 100px 140px;
}

.holy-content1 {
    text-align: center;
}

.holy-content1 h3 {
    margin: 0;
    padding: 0;
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.holy-title {
    margin: 30px 0;
    padding: 0;
    color: #F00;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}
.holy-content1 span{
    color: #070211;
}

.holy-desc {
    margin: 0;
    padding: 0;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holy-content2{
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url('../images/Rectangle\ 1.png'),url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    

}   

.holy-content2 .img1{
    height: 660px;
}
.holy-content2 .img2{
    margin: 0 310px 200px 0;
}

/* portfolio */
.portfolio{
    display: block;
    margin: 60px 100px;
}
.portfolio-content1{
    margin-left: 50px;
}

.portfolio-content1 h4{
    margin: 0;
    color: #F00;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 500;
}


.portfolio-title{
    margin: 20px 0;
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.portfolio-desc{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

.portfolio-content2{
    display: block;
    width: 1400px;
}

.portfolio-content2 div{
    text-align: center;
}

.portfolio-content2 img{
    margin: 6px;
    padding: 0;
}



/* subscribe */

.subscribe {
    margin: 100px 140px;
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 0px;
}

.subscribe img {
    height: 160px;
    margin: 0px;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.subscribe-desc {
    margin: 0 0 40px 0;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.subscribe-form input {

    position: relative;
    display: inline-block;
    font-size: 24px;
    box-sizing: border-box;
}

.subscribe-form input[type="email"] {
    background: #FFF;
    width: 450px;
    height: 82px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.subscribe-form input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 200px;
    height: 82px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #F00;
    color: #FFF;
}


/* footer-aria */
footer {
    margin-top: 120px;
    width: 1600px;
    height: auto;
    display: block;
    background: #070211;
}

footer hr {
    width: 1320px;
    border: none;
    height: 1px;
    background: rgba(115, 107, 107, 0.276);
}

.footer-content1 {
    padding: 80px 250px 20px 130px; 
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    line-height: 40px;
}


.footer-content-image {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content-image a {
    margin-right: 24px;
}

.footer-content2 {
    padding: 20px 130px 80px 130px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}




